<!doctype html>

<html>
<head>
  <title>Diocese of Missouri Service Times</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Diocese of Missouri Service Times</h1>

  <form method="POST"><h2>Enter your location</h2>
    <h2>to get a list of Episcopal churches nearest to you</h2>
    <input type="text" name="location">
    <input type="submit" name="Submit">
  </form>
</body>
</html>