<!doctype html>

<html>
<head>
  <title>Diocese of Missouri Service Times</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Diocese of Missouri Service Times</h1>

  <form method="POST"><h1>Enter your location:</h1>
    <input type="text" name="location">
    <input type="submit" name="Submit">
  </form>
  <!-- <h2>{{response}}</h2> -->
  <h2>Episcopal Churches</h2>
  {% for church in churches %}
    <h3>{{church.name }}</h3>
    <p>{{church.address}}</p>
    <p>{{church.distance}} miles</p>
  {% endfor %}
</body>
</html>